/*-----------------
   Font Style 
 ----------------*/
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
 /*---- Common Font Style ----*/
 body{
    font-family: 'Poppins', sans-serif;
 }
 /* Header Title */
 h2{
   color: #FFFFFF;
   font-size: 64px;
     font-weight: 700;
     transform-origin: top right;
 }
 .live{
     background-color: palevioletred;
     text-decoration: none;
     color: #FFFFFF;
     font-size: 16px;
     padding: 10px;
     border-radius: 5px;
 }
 /* Header Banner */
 .banner{
    width: 556.01px;
    height: 438px;
    padding: 40px;
 }
 @keyframes sliding{
    from{
       color: black;
       left: 0;
    }
    to{
       color: brown;
       left: 95%;
    }
 }
 .fa-futbol{
    font-size: 70px;
    color: black;
    animation: sliding 0.5s ease-in-out 0.5s infinite alternate;
    animation-play-state: running;
    position: relative;
 }
 .flex{
    display: flex;
 }
 .half-width{
    width: 50%;
    padding-left: 30px;
 }
 header{
    background-color: rgb(65, 65, 233);
    width: 100%;
   }
 /* Top Players Styles */
 .top-players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
 }
 .blog{
    background-color: whitesmoke;
    width: 330px;
    height: 500px;
    margin: 70px 30px 27px 30px;
 }
 .blog .player-image img{
   width: 300px;
   height: 256px;
   padding: 15px 15px 16px 15px;
   margin: 0px;
 }
 .player-info{
   height: 154px;
   width: 300px;
   margin: 16px 15px 33px 15px;
 }
 .player-name{
    font-size: 28px;
    margin: 0px;
 }
 .detail{
   font-size: 16px;
   
 }
 /* Footer logo and Copyrite */
 .logo img{
   width: 483.87px;
   height: 110px;
 }
 .font-awesome .font{
    font-size: 32px;
    margin: 20px 14px;
 }
 .copyrite{
    font-size: 18px;
 }
 .footer{
    text-align: center;
    padding: 60px;
 }